{% extends "base.html" %}

{% block title %}Goals{% endblock %}

{% block content %}

{% call macros.create_page("main") -%}
{{ macros.header("Goals", true) }}

{% call macros.toolbar() -%}
<div data-role="controlgroup" data-type="horizontal"> 
	<a href="/goals/create/" data-theme="c" data-role="button" data-icon="plus">Create Goal</a> 
</div> 
{%- endcall %}

<div data-role="content">
	<div data-role="collapsible" data-theme="c" data-collapsed="true">
		<h4>Filter Options</h4>
		<div class="ui-bar ui-bar-c">
			Nothing here yet.
		</div>
	</div>
	<p />
	<ul data-role="listview" data-filter="true" data-theme="d"> 
		{% for goal in goals %}
		{{ macros.render_goal_item(goal) }}
		{% endfor %}
	</ul>
</div>

{%- endcall %}

{% endblock %}