{% extends "base.html" %}

{% block title %}Task Page{% endblock %}

{% block head %}
{{ macros.render_chart_script(monthStats, yearStats) }}
{% endblock %}

{% block content %}

{% call macros.create_page("main") -%}
{{ macros.header("Task Details", true) }}

{% call macros.toolbar() -%}
<div data-role="controlgroup" data-type="horizontal"> 
	<a href="{{ url_for('task', id = task.key().id(), action = 'edit') }}" data-theme="c" data-role="button" data-icon="gear">Edit</a> 
	<a href="{{ url_for('task', id = task.key().id(), action = 'delete') }}" data-theme="c" data-role="button" data-icon="delete" data-rel="dialog" data-transition="slidedown">Delete</a> 
</div> 
{%- endcall %}

<div data-role="content">

	{{ macros.show_flashes() }}

    <div class="ui-body ui-body-b">
    	<strong>Name:</strong> {{ task.Name }}</br>
        <strong>Description:</strong><br />
        {{ task.Description }}<br />
    	<strong>Difficulty:</strong> {{ task.Difficulty|format_difficulty }}</br>
        <strong>Created On:</strong> {{ task.DateCreated|dateformat }}</br>
    	
        <br />
        <strong>Quick Stats</strong></br>
        <hr />
        {{ macros.render_quick_stats(dayStats, weekStats, weekChartData, monthStats, monthChartData, yearStats, yearChartData) }}
    </div>

    <ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="c">
        <li data-role="list-divider">Recent Entries</li>
        {% if recentEntries %}
            {% for entry in recentEntries %}
            <li><a href="">{{ entry.DateCreated|dateformat }} - Goal: {{ entry.parent().Name }}</a></li>
            {% endfor %}
        {% else %}
            <li>No recent entries.</li>
        {% endif %}
    </ul>
</div>

{%- endcall %}

{% endblock %}