<!DOCTYPE html> 
<html> 
<head> 
	<title>{% block title %}GoalWithMe{% endblock %}</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
    <script type="text/javascript" src="/static/script/jquery.sparkline.min.js"></script>
    {% import "macros.html" as macros %}
    {% block head %}{% endblock %}
</head> 
<body>
{% block content -%}
{%- endblock %}
</body>
</html>
